//////////////////////////////////////
// COLORS
$color-primary: #284b63;

$color-primary-hover: #1d3557;

$color-primary-light-1: #0466c8;
$color-primary-light-2: #0353a4;
$color-primary-light-3: #023e7d;
$color-primary-light-4: #008aff;

$color-primary-dark-1: #002855;
$color-primary-dark-2: #001845;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;